<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <host name="default">
    <url>failover:(tcp://weixin-test.kemai.com.cn:8088)</url>
    <username></username>
    <password></password>
  </host>
  <host name="tcpCommandHost">
    <url>failover:(tcp://weixin-test.kemai.com.cn:8088)</url>
    <username></username>
    <password></password>
  </host>  
</configuration>