<?xml version="1.0" encoding="utf-8"?>
<mqConnection>
	<!--默认-->
	<item key="CateringSMSSend" value="messageQueue"/>
	<item key="CateringEmailSender" value="messageQueue"/>
	<item key="CateringPlatformOrderToOss" value="messageQueue"/>
	<item key="CateringSysJobRunLog" value="messageQueue"/>
	<item key="CateringMarketingForInvitation" value="messageQueue"/>
	<item key="CateringMarketingForShare" value="messageQueue"/>
	<item key="CateringWebShopMarketingTemplateMsgSend" value="messageQueue"/>
	<item key="CateringInviteReward" value="messageQueue"/>
	<item key="CateringShareReward" value="messageQueue"/>

	<!--订单类-->
	<item key="CateringOrderPayForCrating" value="messageQueue.order"/>
	<item key="CateringOrderPayForMall" value="messageQueue.order"/>
	<item key="CateringWaiterSendTemplateMsg" value="messageQueue.order"/>
	<item key="CateringWriteOffWxCard" value="messageQueue.order"/>
	<item key="CateringSendEvaluationTemplateMsg" value="messageQueue.order"/>
	<item key="CateringWaiterRedBagStatistics" value="messageQueue.order"/>
	<item key="CateringSendTakeAMealTemplateMsg" value="messageQueue.order"/>
	<item key="CateringOrderReport" value="messageQueue.order"/>
	<item key="CateringSupplementSendRedpacketReceiver" value="messageQueue.order"/>
	<item key="CateringDishRewardsReceiver" value="messageQueue.order"/>
	<item key="CateringGetBusinessDataReceiver" value="messageQueue.order"/>
	<item key="CateringInstallWeChartCertReceiver" value="messageQueue.order"/>

	<!--支付类-->
	<item key="CateringUpdateOrderAppPay" value="messageQueue.pay"/>

	<!--口碑类-->
	<item key="CateringkbOrderForCrating" value="messageQueue.kb"/>
	<item key="CateringkbLaterOrderForCrating" value="messageQueue.kb"/>
	<item key="CateringkbSoldOutFood" value="messageQueue.kb"/>
	<item key="CateringkbCookSync" value="messageQueue.kb"/>
	<item key="CateringkbAllDataDelete" value="messageQueue.kb"/>

	<!--会员类-->
	<item key="CateringReceiveTicket" value="messageQueue.member"/>
	<item key="CateringUpdateWxCardForMall" value="messageQueue.member"/>
	<item key="CateringUpdateWxCardForCrating" value="messageQueue.member"/>
	<item key="CateringSendTemplate" value="messageQueue.member"/>
	<item key="CateringMemberInfo" value="messageQueue.member"/>
	<item key="CateringMarketingTemplateMsgSend" value="messageQueue.member"/>
	<item key="CateringUpdateVipInfoCardClsForCratingMqReceiver" value="messageQueue.member"/>
	<item key="CateringUpdateVipInfoCardClsForRetailMqReceiver" value="messageQueue.member"/>
	<item key="CateringMarketingBindOrRegisterMqReceiver" value="messageQueue.member"/>
	<item key="CateringVipOfAttentionMqReceiver" value="messageQueue.member"/>
	<item key="CateringTicketGenerateMqReceiver" value="messageQueue.member"/>
	<item key="CateringOldCardBindMarketingReceiver" value="messageQueue.member"/>
	<item key="CateringPerfectInfoMarketingReceiver" value="messageQueue.member"/>
	<item key="CateringGroupLabelOeratorReceiver" value="messageQueue.member"/>
	<item key="CateringAccurateGroupMarketingReceiver" value="messageQueue.member"/>
	<item key="CateringCardTypeVipSummaryReceiver" value="messageQueue.member"/>
	<item key="CateringAccurateVipMarketingReceiver" value="messageQueue.member"/>
	<item key="CateringVipUpgradeMqReceiver" value="messageQueue.member"/>
	<item key="CateringBirthdayMarketingMqReceiver" value="messageQueue.member"/>
	<item key="CateringFestivalMarketingMqReceiver" value="messageQueue.member"/>
	<item key="CateringConsumeSendMqReceiver" value="messageQueue.member"/>
	<item key="CateringSendInviteMsgReceiver" value="messageQueue.member"/>

	<item key="CateringChangeOpenIDMqReceiver" value="messageQueue.member"/>
	<!--Pos数据同步类-->
	<item key="CateringVipType" value="messageQueue.pos"/>
	<item key="CateringVipInfo" value="messageQueue.pos"/>
	<item key="CateringItemInfo" value="messageQueue.pos"/>
	<item key="CateringVipIntegralFlow" value="messageQueue.pos"/>
	<item key="CateringVipCostFlow" value="messageQueue.pos"/>
	<item key="CateringTempVipCostFlow" value="messageQueue.pos"/>
	<item key="CateringTableInfo" value="messageQueue.pos"/>
	<item key="CateringVipRechargeFlow" value="messageQueue.pos"/>
	<item key="CateringVipTypeTemp" value="messageQueue.pos"/>

	<!--菜品类-->
	<item key="CateringFoodStock" value="messageQueue.food"/>
	<item key="CateringStockUpShelfFood" value="messageQueue.food"/>
	<item key="CateringSoldOutFood" value="messageQueue.food"/>
	<item key="CateringDelFood" value="messageQueue.food"/>
	<item key="CateringStopSaleFood" value="messageQueue.food"/>
	<item key="CateringQueueNumber" value="messageQueue.food"/>
	<item key="CateringFoodStockMade" value="messageQueue.food"/>
</mqConnection>